:root {
    --section-padding: 40px;
    --main-color: #f0f0f0;
    --alt-color: #ffffff;

    --btn: cadetblue;
    --btn-hover: rgb(71, 117, 118);
    --btn-active: rgb(51, 84, 84);
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.page-container {
    display: flex;
}

.image-sidebar {
    margin: 0 0 auto 0;
    height: 100vh;
    width: 40vw;
}

.image-sidebar img {
    position: absolute;
    height: 100vh;
    z-index: -1;
    filter: blur(1.5px);
}

/* .credit {
    position: absolute;
    width: 100%;
    height: 0%;
    color: white;
    font-size: 24px;
    bottom: 0;
    right: 50;
    transform: translate(-50%, -50%);
} */

.content-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.hook {
    flex: 1;
    padding: var(--section-padding);
    padding-top: 50px;
    font-size: 1.5rem;
    background-color: var(--main-color);
}

.hook p {
    max-width: 55vw;
}

.signup-form {
    flex: 1;
    padding: var(--section-padding);
    background-color: var(--alt-color);
    box-shadow: 0px 0px 14px dimgray;
    z-index: 1;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(300px + 30vw);
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

label:hover {
    cursor: text;
}

.field {
    margin-top: 1.4rem;
    margin-right: 2rem;
}

.field input {
    margin-right: 18px;
    padding: 10px;
    width: 250px;
    border-radius: 4px;
}

.field input:focus {
    box-shadow: 0px 0px 5px black;
}

.section {
    flex: 1;
    padding: var(--section-padding);
    background-color: var(--main-color);
}

.btn {
    background-color: var(--btn);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 16px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}

.section p {
    margin-top: 20px;
}
